<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\Programming\JAVA\ui\Hogwarts\Hogwarts.jar</jar>
  <outfile>D:\Programming\JAVA\ui\Hogwarts\Hogwarts.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>D:\Programming\JAVA\ui\New folder\icon.ico</icon>
  <var>API_KEY=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</var>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>